leidenalg==0.11.0
matplotlib==3.5.1
numpy==1.26.4
Pillow==9.0.1
Pillow==12.1.0
python_igraph==1.0.0
scikit_learn==1.8.0
scipy==1.8.0
tifffile==2025.5.10
torchvision==0.22.0
tqdm==4.67.3
umap_learn==0.5.11