# Python 3.12.10
leidenalg==0.11.0
numpy==1.26.4
Pillow==12.1.0
python_igraph==1.0.0
scikit_learn==1.8.0
tifffile==2025.5.10
torchvision==0.22.0
tqdm==4.67.3
umap-learn==0.5.11
xgboost
matplotlib==3.10.8
opencv-python==4.12.0.88
scipy==1.18.0
scikit-image==0.26.0
imagecodecs==2026.6.6
tensorflow==2.21.0
csbdeep==0.8.2
stardist==0.9.1
scikit-learn==1.6.1
torch==2.9.0+cu126
umap_learn==0.5.11
anndata==0.12.18
scvi-tools==1.4.3
phate==2.0.0
pygam==0.12.0
python-igraph==1.0.0
scikit-learn>=1.6.1
seaborn>=0.13.2
scanpy==1.12.2
scvi-tools==1.4.3
pandas==2.2.2
scipy==1.13.1
rapids-singlecell==0.14.1
scikit-misc==0.5.2
jax[cuda12]==0.10.2
ott-jax==0.6.0